.nBtn {

  text-align: center;
  padding: 12px 36px;
  color: black;
  font-size: 14px;
  font-family: BIG SHOT;
  font-weight: 400;
  text-transform: uppercase;
  word-wrap: break-word;
  cursor: pointer;
  line-height: 1;
  height: 36px;
  display: inline-flex;

}

.yellowBtn , .shortBtn{
    background: url("../../assets/btn-yellow-short.png") no-repeat;
    background-size: 100% 100%;
}
.yellowBtn , .longBtn{
    background: url("../../assets/btn-yellow-long.png") no-repeat;
    background-size: 100% 100%;
}

.stakeBtn {
}

.lvBtn {
}

.unStakeBtn {
  color: rgba(255, 255, 255, 0.8);
}

.longBtn {
}
